<ion-header>
    <ion-toolbar>
        <ion-title class="titulo">SUPERVISOR</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-button class="btn1" expand="block" fill="outline" (click)="irATareas()">Hacer asignación</ion-button>

    <ion-button class="btn1" expand="block" fill="outline" (click)="muestraAsignaciones()">Tareas asignadas</ion-button>


    

 
  <ng-container *ngIf="mostrarAsignaciones">
     <ul  *ngFor="let asignacion of asignaciones">
       <li  [hidden]="!mostrarAsignaciones" >
         <ion-label style="display: block">ID asignación: {{asignacion.id}}</ion-label>
          <ion-button (click)="verDetalle($event,asignacion)">Ver Detalle</ion-button>
          <a [routerLink]="['/supervisor-geotasks/',asignacion.id]">
          <ion-button>Ir a asignación</ion-button>
        </a>
        <hr>
       </li>
     </ul>
  </ng-container>

  
 
</ion-content>

<ion-footer>
      <ion-button class="btn2" expand="block" (click)="cerrarSesion()">Cerrar Sesión</ion-button>
</ion-footer>
