<ion-header>
    <ion-toolbar>
        <ion-title>Operario 
        </ion-title>
      
    </ion-toolbar>
</ion-header>

<ion-content>
        <ion-header>
                <ion-toolbar>
                        <ion-segment [(ngModel)]="ventana">
                                <ion-segment-button value="asignaciones">
                                    Asignaciones
                                </ion-segment-button>
                             <!--    <ion-segment-button value="alertas">
                                    Alertas
                                </ion-segment-button> -->
                              </ion-segment>
                </ion-toolbar>
              </ion-header>
              <ion-content [ngSwitch]="ventana">
                    <div *ngSwitchCase="'asignaciones'">
                                    <ul *ngIf="tieneAsignacion">
                                        <li>
                                        <ion-label style="display: block">ID asignación: {{asignacion.id}}</ion-label>
                                         <ion-button [disabled]="!tieneAsignacion" (click)="verDetalle($event,asignacion)">Ver Detalle</ion-button>
                                        <a [routerLink]="['/operario-geotasks/',asignacion.id]">
                                         <ion-button [disabled]="!tieneAsignacion">Ir a asignación</ion-button>
                                       </a>
                                       <hr>
                                      </li>
                                    </ul>
                    </div>

                        <div *ngSwitchCase="'alertas'">
                                alerta
                        </div>
              </ion-content>

</ion-content>