<ion-header>
    <ion-toolbar>
        <ion-title>Operario</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-segment [(ngModel)]="ventana">
                <ion-segment-button value="asignaciones">
                    Asignaciones
                </ion-segment-button>
            </ion-segment>
        </ion-toolbar>
    </ion-header>
    <ion-content [ngSwitch]="ventana">
        <div *ngSwitchCase="'asignaciones'">

            <!--    <ng-container *ngIf="mostrarAsignaciones">
                                    <ul  *ngFor="let asignacion of asignaciones"> -->
            <ul>
                <li>
                    <ion-label style="display: block">ID asignación: {{asignacion.id}}</ion-label>
                    <ion-button (click)="verDetalle($event,asignacion)">Ver Detalle</ion-button>
                    <a [routerLink]="['/operario-geotasks/',asignacion.id]">
                        <ion-button>Ir a asignación</ion-button>
                    </a>
                    <hr>
                </li>
            </ul>
            <!--  </ul>
                                 </ng-container> -->
        </div>

        <div *ngSwitchCase="'alertas'">
            alerta
        </div>
    </ion-content>

</ion-content>