<ion-header>
    <ion-toolbar>
        <ion-title>Tareas Supervisor</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label>Trabajadores Disponibles</ion-label>
        <ion-select [(ngModel)]="operarioSeleccionado" id="selectOperario" interface="action-sheet" placeholder="Seleccionar" >
                    <ion-select-option [value]="operario" *ngFor="let operario of dbFireStore.operariosDisponibles">{{operario.nombre}}</ion-select-option>
            </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Asignar Tarea</ion-label>
        <ion-select id="customActionSheetSelect" interface="action-sheet" placeholder="Seleccionar">
            <ion-select-option value="">Pendiente</ion-select-option>
            <ion-select-option value="">Pendiente</ion-select-option>
            <ion-select-option value="">Pendiente</ion-select-option>
            <ion-select-option value="">Pendiente</ion-select-option>
            <ion-select-option value="">Pendiente</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Selec. Lugar de Trabajo</ion-label>
        <ion-select id="customActionSheetSelect" interface="action-sheet" placeholder="Seleccionar">
            <ion-select-option  *ngFor="let lugar of dbFireStore.ubicaciones" value="">{{lugar.nombre}}</ion-select-option>
        </ion-select>
    </ion-item>

    <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <ion-textarea></ion-textarea>

    <!-- Textarea in an item with a placeholder -->
    <ion-item>
        <ion-textarea placeholder="Observaciones generales..."></ion-textarea>
    </ion-item>

    <ion-button shape="round" expand="block" (click)="asignarTarea()">Asignar</ion-button>
    <!--<ion-button shape="round" expand="block">Nueva Tarea</ion-button>-->
    <ion-button shape="round" expand="block">Volver</ion-button>
    <!--<ion-button shape="round" expand="block">Seguimientos</ion-button>-->

</ion-content>