<ion-header>
    <ion-toolbar>
        <ion-title>Tareas Supervisor</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label>Trabajadores</ion-label>
        <ion-select id="customActionSheetSelect" interface="action-sheet" placeholder="Seleccionar">
            <ion-select-option value="">Pendiente</ion-select-option>
            <ion-select-option value="">Pendiente</ion-select-option>
            <ion-select-option value="">Pendiente</ion-select-option>
            <ion-select-option value="">Pendiente</ion-select-option>
            <ion-select-option value="">Pendiente</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Tareas</ion-label>
        <ion-select id="customActionSheetSelect" interface="action-sheet" placeholder="Seleccionar">
            <ion-select-option value="">Pendiente</ion-select-option>
            <ion-select-option value="">Pendiente</ion-select-option>
            <ion-select-option value="">Pendiente</ion-select-option>
            <ion-select-option value="">Pendiente</ion-select-option>
            <ion-select-option value="">Pendiente</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Lugar de Trabajo</ion-label>
        <ion-select id="customActionSheetSelect" interface="action-sheet" placeholder="Seleccionar">
            <ion-select-option value="">Pendiente</ion-select-option>
            <ion-select-option value="">Pendiente</ion-select-option>
            <ion-select-option value="">Pendiente</ion-select-option>
            <ion-select-option value="">Pendiente</ion-select-option>
            <ion-select-option value="">Pendiente</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-button shape="round" expand="block">Asignar</ion-button>
    <ion-button shape="round" expand="block">Nueva Tarea</ion-button>
    <ion-button shape="round" expand="block">Consultar Tareas</ion-button>
    <ion-button shape="round" expand="block">Seguimientos</ion-button>

</ion-content>